<%- include ("../../partials/header.ejs") %> <%- include
("../../partials/navbar.ejs") %>

<div class="container">
  <hr />
  <div class="card mt-5">
    <div class="card-header">
      <h2>Criação de Usuario</h2>
    </div>
    <div class="card-body">
      <form method="POST" action="/users/create">
        <input
          class="form-control"
          type="email"
          name="email"
          placeholder="email@exemplo.com"
          required
        /><br />
        <input
          class="form-control"
          type="password"
          name="password"
          placeholder="*********"
          required
        /><br />
        <button type="submit" class="btn btn-success btn-block">Criar</button>
      </form>
    </div>
  </div>
</div>

<%- include ("../../partials/footer.ejs") %>
